.header_outer_container {
  background-color: black;
  padding: 1%;
  position: sticky;
  top: 0;
  height: 10vh;
  color: white;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.header_left ul,
.header_right ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
.header_right li {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .header_right{
    margin-left: 25px;
  }