.banner {
  margin-top: -10vh;
  height: 80vh;
  color: white;
  
  background-size: cover;
  background-position: center center;
  object-fit: contain;
}

.banner_contents {
  position: absolute;
  top: 30%;
  left: 30px;
  z-index: 1;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.5rem;
}

/* Banner buttons */
.banner_buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.banner_button {
  cursor: pointer;
  color: black;
  background-color: #fff;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease;
}

.banner_button:hover {
  background-color: #e6e6e6;
  color: black;
}

/* Description text */
.banner_description {
  width: 45rem;
  max-width: 360px;
  font-size: 1rem;
  line-height: 1.3;
  padding-top: 1rem;
  color: #eee;
  text-align: justify;
}

/* Gradient fade at bottom of banner */
.banner_fade_bottom {
  position: absolute;
  bottom: 0;
  height: 7.4rem;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
